@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

body {
  background: yellow;
  margin: 80px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  
}

.container h1 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  letter-spacing: 15px;
  font-weight: 900;
}

.container img {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}